body{
    height: 100%;
}

header .title{
    font-size: 4rem;
    text-align: center;
}

main{
    width: 100%;
    height: 46rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main .startOfTheScan{
    width: 14rem;
    height: 7rem;
}

main .res{
    width: 16rem;
    height: 34rem;
    font-size: 1.8rem;
    text-align: justify;
}