body{
    height: 100%;
}

header .title{
    font-size: 4rem;
    text-align: center;
}

header p{
    font-size: 1.8rem;
    text-align: center;
}

main{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

main .startOfTheScan{
    width: 7.4rem;
    height: 3rem;
    font-size: 1.5rem;
    color: blanchedalmond;
    background-color: green;
}

main .res{
    width: 30rem;
    height: 30rem;
    font-size: 1.8rem;
    text-align: justify;
}

main .res h2{
    font-size: 2.2rem;
}